<div class="center">
  <h1>Add book:</h1>
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)=" onSubmit()"
    novalidate
  >
    <div class="txt_field">
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="form.title"
        required
        #title="ngModel"
      />
      <span></span>
      <label>Title:</label>
    </div>
    <div class="txt_field">
      <input
        type="number"
        class="form-control"
        name="isbn"
        [(ngModel)]="form.isbn"
        required
        #isbn="ngModel"
      />
      <span></span>
      <label>ISBN:</label>
      <small class="small_text">ISBN must be 13 characters</small>
    </div>
    <div class="txt_field">
      <input
        type="number"
        class="form-control"
        name="pages"
        [(ngModel)]="form.pages"
        required
        email
        #pages="ngModel"
      />
      <span></span>
      <label>Pages:</label>
    </div>
    <div class="txt_field">
      <input
        type="text"
        class="form-control"
        name="language"
        [(ngModel)]="form.language"
        required
        #language="ngModel"
      />
      <span></span>
      <label>Language:</label>
    </div>
    <div class="txt_field">
      <input type="text"
             class="form-control"
             name="publisher"
             [(ngModel)]="form.publisher"
             required
             #publisher="ngModel"
      />
      <span></span>
      <label>Publisher:</label>
    </div>
    <div class="txt_field">
      <input type="text"
             class="form-control"
             name="bookGenre"
             [(ngModel)]="form.bookGenre"
             required
             #bookGenre="ngModel"
      />
      <span></span>
      <label>Book genre:</label>
    </div>
    <input class="addBook" type="submit" value="Add book!">

  </form>
</div>
