<div class="center">
  <h1>Register</h1>
  <form method="post">
    <div class="txt_field">
      <input type="text" required>
      <span></span>
      <label>Username</label>
      <small class="small_text">Username must be unique</small>
    </div>
    <div class="txt_field">
      <input type="password" required>
      <span></span>
      <label>Password</label>
      <small class="small_text">Password must be 6-12 characters</small>
    </div>
    <div class="txt_field">
      <input type="e-mail" required>
      <span></span>
      <label>E-mail</label>
      <small class="small_text">E-mail example : xxxx@domena.com</small>
    </div>
    <input class="register" type="submit" value="SignUp!">
    <div class="login_link">
      If you have already account just <a href="login">Log In</a>
    </div>

  </form>
</div>
