<header xmlns="http://www.w3.org/1999/html">
  <p><button (click)="goToHomePage()">Next Door Book </button>  </p>
  <nav>
    <ul class="nav_links">
      <li><button (click)="goToBookList()">Search books</button> </li>
      <li><button>Your books</button> </li>
      <li><button>Exchanges</button> </li>
      <span *ngIf="!isLoggedIn">
      <li><button class="login" (click)="goToLogin()">Log in!</button> </li>
      <li><button class="signup" (click)="goToSignUp()">SignUp!</button> </li>
      </span>

      <span *ngIf="isLoggedIn">
        <li><button class="login" (click)="logout()">Logout!</button> </li>
      </span>
    </ul>
  </nav>
</header>


<router-outlet></router-outlet>


