<tbody>
<ul >
  <li *ngFor="let book of books">
    <h3>Book id: {{ book.id }}</h3>
    <p>Tittle: {{ book.tittle }}</p>
    <p>Isbn {{ book.isbn }}</p>
    <p>Pages number {{ book.numPages }}</p>
    <p>Language: {{ book.language }}</p>
    <p>Publisher: {{ book.publisher }}</p>
    <p>Published Year: {{ book.publishedYear | date }}</p>
    <p>Genre: {{ book.bookGenre }}</p>
    <p>Authors:</p>
    <ul>
      <li *ngFor="let author of book.authors">
        <p>First name: {{ author.firstName }}</p>
        <p>Last name: {{ author.lastName }}</p>
        <p>Nationality: {{ author.nationality }}</p>
      </li>
    </ul>
  </li>
</ul>
</tbody>
