@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.center {
  font-family: montserrat, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  padding: 20px 20px 10px 10px;
  width: 400px;
  background: white;
  border-radius: 10px;
}
